<style>
    .message-content {
        font-family: Arial, Helvetica;
        max-width: : 600px;
        font-size: 18px;
        line-height: 24px;
    }
</style>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="message-content">
        <p>Olá {{name}}</p>
        <br>
        <p>We received your reset password request</p>
        <p>To continue click in the link below to reset your password</p>
        <p>
            <a href="{{link}}">Reset My Password</a>
        </p>
        <p>if you didn't make the request,consider ignore this email</p>
        <p>Api Vendas Team</p>
    </div>
</body>

</html>